<div class="jumbotron" style="background-image: url(../../assets/header.png);" >
    
    <div class="text-center">
        <h1 class="display-4"><strong>Supriya Bandal</strong></h1>
        <h3> <strong>Software Developer</strong></h3>
        <div class="logo">
            <a href="https://www.linkedin.com/in/supriya-bandal-553ab9184/" target="_blank">
                <img src="../../assets/linkedin.png" style="box-shadow: 0 4px 6px rgba(203, 202, 106, 0.2);">
            </a>
            <a href="https://github.com/supriyabandal2012" target="_blank">
            <img src="../../assets/git.png" alt="">
            </a>
            <a href="https://www.youtube.com/@supriyabandal6033" target="_blank">
            <img src="../../assets/youtube.png"  alt="">
            </a>
        </div>
    </div>
</div>