<div class="container">
    <div class="row">
        <!-- About me tile -->
        <div class="col-lg-4 col-md-6 mb-4 " style=" max-width:500px; min-width:500px;">
            <div class="text-center">
                <h2>My Resume</h2>
                <p>Click the link below to download my resume:</p>
                <a href="../../assets/Resume.pdf" download="Resume.pdf">Download Resume</a>
                <ngx-extended-pdf-viewer [src]="'assets/Resume.pdf'"
                    style="display: block; width: 200%; height: 600px;"></ngx-extended-pdf-viewer>

            </div>
        </div>
    </div>
</div>